<% if (success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show col-12 col-md-8 col-lg-6 mx-auto" role="alert">
      <%= success %> <%# local variable success contains flash message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>  
  <% if (error && error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show col-12 col-md-8 col-lg-6 mx-auto" role="alert">
      <%= error %> <%# local variable error contains flash message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %> 