<footer class="bg-light py-4">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="f-info-socials">
                    <a href="https://www.facebook.com" class="me-3">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com" class="me-3">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="f-info-links">
                    <a href="/privacy" class="me-3">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>
        </div>
    </div>
</footer>
