<% layout("/layouts/boilerplate") %> <%# to use layout  %>
<h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text"  required name="username" class="form-control" id="username" >
                <div class="valid-feedback">
                    looks good
                  </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="email"  required name="email" class="form-control" id="email" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"  required name="password" class="form-control" id="password" >
            </div>
            <div>
                <button class="btn btn-success">SignUp</button>
            </div>
        </form>
    </div>
</div>
